name: Lint Commit Messages
on: [pull_request]

jobs:
    commitlint:
        name: Commitlint
        permissions:
            contents: read
            pull-requests: read

        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
              with:
                  fetch-depth: 0

            - name: Setup Node
              uses: actions/setup-node@v3
              with:
                  node-version: 18.15.0

            - name: Commitlint
              run: npx commitlint --from ${{ github.event.pull_request.base.sha }} --to ${{ github.event.pull_request.head.sha }} --verbose
