name: Integration

on:
    pull_request:
        branches: [main]

permissions:
    contents: read

jobs:
    inflint:
        name: Inflint
        runs-on: ubuntu-latest

        steps:
            - name: Setup Node environment
              uses: Exlint/node-environment@v1.2.6
              with:
                  node-version: 20.16.0
                  package-manager: pnpm
                  package-manager-version: 9.7.0

            - name: Test Inflint
              run: pnpm inflint

    typescript:
        name: TypeScript
        runs-on: ubuntu-latest

        steps:
            - name: Setup Node environment
              uses: Exlint/node-environment@v1.2.6
              with:
                  node-version: 20.16.0
                  package-manager: pnpm
                  package-manager-version: 9.7.0

            - name: Test TypeScript
              run: pnpm type-check

    prettier:
        name: Prettier
        runs-on: ubuntu-latest

        steps:
            - name: Setup Node environment
              uses: Exlint/node-environment@v1.2.6
              with:
                  node-version: 20.16.0
                  package-manager: pnpm
                  package-manager-version: 9.7.0

            - name: Test Prettier
              run: pnpm prettier

    eslint:
        name: ESLint
        runs-on: ubuntu-latest

        steps:
            - name: Setup Node environment
              uses: Exlint/node-environment@v1.2.6
              with:
                  node-version: 20.16.0
                  package-manager: pnpm
                  package-manager-version: 9.7.0

            - name: Test ESLint
              run: pnpm lint

    build:
        name: Build
        runs-on: ubuntu-latest

        steps:
            - name: Setup Node environment
              uses: Exlint/node-environment@v1.2.6
              with:
                  node-version: 20.16.0
                  package-manager: pnpm
                  package-manager-version: 9.7.0

            - name: Test build
              run: pnpm build

    unit-tests:
        name: Unit Tests
        runs-on: ubuntu-latest

        steps:
            - name: Setup Node environment
              uses: Exlint/node-environment@v1.2.6
              with:
                  node-version: 20.16.0
                  package-manager: pnpm
                  package-manager-version: 9.7.0

            - name: Unit Tests
              run: pnpm test:cov

    knip:
        name: Knip
        runs-on: ubuntu-latest

        steps:
            - name: Setup Node environment
              uses: Exlint/node-environment@v1.2.6
              with:
                  node-version: 20.16.0
                  package-manager: pnpm
                  package-manager-version: 9.7.0

            - name: Knip
              run: pnpm knip

    automation:
        name: Automation
        runs-on: ubuntu-latest
        needs: build

        steps:
            - name: Setup Node environment
              uses: Exlint/node-environment@v1.2.6
              with:
                  node-version: 20.16.0
                  package-manager: pnpm
                  package-manager-version: 9.7.0

            - name: Build
              run: pnpm build

            - name: Automation
              run: pnpm automation

    cspell:
        name: CSpell
        runs-on: ubuntu-latest

        steps:
            - name: Setup Node environment
              uses: Exlint/node-environment@v1.2.6
              with:
                  node-version: 20.16.0
                  package-manager: pnpm
                  package-manager-version: 9.7.0

            - name: CSpell
              run: pnpm cspell
